<div class='container mt-5'>
  <h1>Prescription History</h1>
  <% @user_medications.each do |user_medication| %>
    <div class='border'>
      <div><%= user_medication.medication.name %></div>
      <div class='border'>
        <div>Prescribed by <strong><%= user_medication.prescriber%></strong></div>
        <div>You have <strong><%= pluralize user_medication.number_refills.size, 'refill' %></strong> left</div>
        <div>Refill Due Date: <%= user_medication.refill_due_date %></div>
        <div><strong><%= pluralize (Date.today - user_medication.refills.first.pick_up_date).to_i, 'day' %></strong> since last refill</div>
        <%# check how to calculate the number of refills left %>
        <div> <%= button_to "refill", user_medication_refills_path(user_medication) %> </div>
      </div>
    </div>
  <% end %>
</div>
