<div class='container mt-5'>
  <h1>Dashboard</h1>
<h3>username: <%= current_user.first_name %></h3>
<h3>userlast_name: <%= current_user.last_name %></h3>
<%= render "shared/medication_card" %>
<%#= @current_pharmacy_location %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
