<div>
<%= simple_form_for user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :birthdate %>
  <%= f.input :phone_number %>
  <%= f.input :address %>
  <%= f.association :allergies, label_method: :allergy_type, input_html: {id: "input_tags", multiple: true, data: {controller: "tom-select"}} %>
  <%= f.button :submit, class:'btn btn-primary' %>
<% end %>
</div>
<%# <input type="text" id="input-tags" value="awesome,neat" autocomplete="off"> %>
