<div class="justify-content-center home-page">
  <!-- Mashead header-->
  <header class="masthead">
    <div class="container ">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
            <!-- Mashead text and app badges-->
          <div class="mb-4 mb-lg-0 text-center text-lg-start">
            <%# <h1 class="display-1 lh-1 mt-5 mb-3 pt-5"><span>Efficiently Manage your Scripts</span></h1> %>
             <h1 id="homepage-h1" class="mb-3 pt-5"><span>Efficiently Manage your Scripts</span></h1>
            <p class="text lead fw-normal mt-4 mb-4">A web platform that actively tracks the status of your prescriptions </p>
            <div class="d-flex flex-column flex-lg-row align-items-center pt-2">
              <%= image_tag "rxpill.png", class: "app-badge" %>

            </div>
          </div>
        </div>

      </div>
    </div>
    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
  </header>
  <%# ________________________________________________________________ %>
<%# ___________________________________________________________________________________________
 %>

  <section class="pt-5 px-5 py-3 mt-2 mb-4">
    <div class="text-center">
        <p class="text-muted mb-0"> With Rx Buddy, you can be confident that you are managing your medications effectively and taking control of your health.
        Try it today and experience the peace of mind that comes with a well-organized medication routine.</p>
    </div>
    <div class="mt-5 d-flex justify-content-center">
      <%# <div>
        <button id="special" class="justify-content-center">Get Started</button>
      </div> %>
      <button id="special" class="justify-content-center"><%= link_to "Get Started", dashboard_path, class:"text-decoration-none"%></button>
    </div>
  </section>

  <%# ___________________________________________________________________________________________ %>
  <%# ___________________________________________________________________________________________ %>
  <%# ____________________________________________________________________________________________ %>
  <!-- App features section-->
  <section id="features" class="pt-3">
      <div class="container py-2 px-5">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-8 order-lg-1 mb-1 mb-lg-0">
                  <div class="container-fluid px-5">
                      <div class="row gx-5">
                          <div class="col-md-6 mb-4 feature">
                              <!-- Feature item-->
                              <div class="text-center">
                                  <div class="icon-feature mb-2 text-gradient">
                                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                                  </div>
                                  <h3 class="font-alt">Awesome Design</h3>
                                  <p class="text-muted mb-2">Very easy to use and has an intuitive design!</p>
                              </div>
                          </div>
                          <div class="col-md-6 mb-4 feature">
                              <!-- Feature item-->
                              <div class="text-center">
                                  <div class="icon-feature mb-2 text-gradient">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                  </div>
                                  <h3 class="font-alt">Flexible Use</h3>
                                  <p class="text-muted mb-2">Know the status of your medication anywhere & anytime!</p>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 mb-4 feature">
                              <!-- Feature item-->
                              <div class="text-center">
                                  <div class="icon-feature mb-2 text-gradient">
                                    <i class="fa-regular fa-heart"></i>
                                  </div>
                                  <h3 class="font-alt">Free to Use</h3>
                                  <p class="text-muted mb-2">Anyone can use this platform free of charge!</p>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






<%# _______________________________________________ %>

  <div class="peoplez py-3">
  <h3 id="homepage-h3">Meet Our Team</h3>
    <%= render "shared/person", image: "adham.png", name: "Adham Al Koukou", title: "Product Manager & Developer", class: "mt-2" %>
    <div class="divider"></div>
    <%= render "shared/person", image: "ayat.png", name: "Ayat Amin", title: "Senior Developer" %>
    <div class="divider"></div>
    <%= render "shared/person", image: "Maggie.png", name: "Maggie Hum", title: "Senior UX" %>
    <div class="divider"></div>
    <%= render "shared/person", image: "yannick.png", name: "Yannick Bruderlein", title: "Senior UX" %>
    <div class="divider"></div>
    <%= render "shared/person", image: "sunny.png", name: "You Pan", title: "Senior Developer" %>
  </div>
</div>
