<div class='container mt-5'>
  <div class="accordion" id="accordionExample">
    <% @refills.each_with_index do |refill, index| %>
      <div class="accordion-item mb-3 border">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-controls="collapse<%= index %>">
            <img src="assets/pill.png" alt="pill" class='pill-icon'>
            <%= refill.user_medication.medication.name %>
          </button>
        </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <h3 class="d-flex justify-content-center">Edit</h3>
              <div class="dropdown">
                  <%# add the remove this order button %>
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Urgency
                  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><%= button_to "I need it today", user_medication_refill_path(refill.user_medication, refill, urgency: 'extreme'), method: :patch, class: "dropdown-item" %></li>
                  <li><%= button_to "I can wait 24hrs", user_medication_refill_path(refill.user_medication, refill, urgency: 'medium'), method: :patch, class: "dropdown-item" %></li>
                  <li><%= button_to "I can wait a week", user_medication_refill_path(refill.user_medication, refill, urgency: 'not urgent'), method: :patch, class: "dropdown-item" %></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <%= button_to "Submit", orders_path%>
  <%# add the delete whole order button %>
</div>
