<div class='container mt-5'>
  <div class="accordion" id="accordionExample">
    <% @refills.each_with_index do |refill, index| %>
      <div class="accordion-item mb-3 border">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-controls="collapse<%= index %>">
            <img src="assets/pill.png" alt="pill" class='pill-icon'>
            <%= refill.user_medication.medication.name %>
          </button>
        </h2>
      </div>
    <% end %>
  </div>
  <%= button_to "Submit", orders_path%>
</div>
