<div class='container mt-5'>
  <div class="accordion" id="accordionExample">
    <% @refills.each_with_index do |refill, index| %>
      <div class="accordion-item mb-3 border">
        <h2 class="accordion-header" id="heading<%= index %>">
          <button class="d-flex accordion-button collapsed review-refill" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-controls="collapse<%= index %>">
            <div class="p-2"><img src="assets/pill.png" alt="pill" class='pill-icon'></div>
            <div class="p-2"><%= refill.user_medication.medication.name %></div>
            <div class="ms-auto p-2">
            <% if refill.urgency == 'urgent' %>
              <i class=" urgent fa-solid fa-circle"></i>
            <% elsif refill.urgency == 'medium' %>
              <i class=" medium fa-solid fa-circle"></i>
            <% else %>
              <i class=" not-urgent fa-solid fa-circle"></i>
            <% end %>
            </div>
          </button>
        </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <h3 class="d-flex justify-content-center">Edit</h3>
              <div class="dropdown">
                <div class="dropdown d-flex justify-content-between">
                    <%# add the remove this order button %>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Urgency
                    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class='align'><%= button_to "I need it today", user_medication_refill_path(refill.user_medication, refill, urgency: 'urgent'), method: :patch, class: "dropdown-item" %><i class=" urgent fa-solid fa-circle"></i></div>
                    <div class='align'><%= button_to "I can wait 24hrs", user_medication_refill_path(refill.user_medication, refill, urgency: 'medium'), method: :patch, class: "dropdown-item" %><i class=" medium fa-solid fa-circle"></i></div>
                    <div class='align'><%= button_to "I can wait a week", user_medication_refill_path(refill.user_medication, refill, urgency: 'not urgent'), method: :patch, class: "dropdown-item" %><i class=" not-urgent fa-solid fa-circle"></i></div>
                  </div>
                  <div class="dropdown d-flex justify-content-end">
                      <%= link_to user_medication_refill_path(refill.user_medication, refill), data: { turbo_method: :delete, turbo_confirm: 'Sure? ⚠️' }, class: 'text-secondary mt-2' do %>
                        <i class="fa-solid fa-trash-can"></i>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <div class='d-flex justify-content-between'>
  <%= button_to "Send Order", orders_path%>
  <%= button_to "Cancel Order", remove_all_path, data: { turbo_confirm: 'Sure? ⚠️' }, method: :delete %>
  <%# add the delete whole order button %>
  </div>
</div>
