
<div class="container chatbot"
  data-controller="chatbot-subscription"
  data-chatbot-subscription-chatbot-id-value="<%= @chatbot.id %>"
>
  <div class="messages" data-chatbot-subscription-target="messages">
    <% @chatbot.messages.each do |message| %>
      <div class="message-row d-flex <%= message.from_chatbot ? 'justify-content-start' : 'justify-content-end' %>">
        <div class="<%= message.from_chatbot ? 'receiver-style' : 'sender-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@chatbot, @message], html: { data: { action: "turbo:submit-end->chatbot-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
                label: false,
                placeholder: "Message ##{@chatbot.name}",
                wrapper_html: {class: "flex-grow-1"} %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>

  <% end %>
</div>
